<main class="show_main">
   <%= render partial: "header"%>
  <div class="show_inner">
    <h2 class="about_title">正解のない問題たちとは？</h2>
    <div class="about_description">
      <p>正解のない問題たちは、大喜利を通じて「発想力」を鍛えるアプリです。</p>
      <p>このアプリの機能は以下の3つです。</p>
      <p>① お題の投稿・・・お題を投稿することによって、0から1を生み出す力が鍛えられます。</p>
      <p>② お題への回答・・・回答することにより、様々な視点が生まれ発想力がつきます。</p>
      <p>③ お題や回答の判定・・・お題や回答は他のユーザーから評価されることによりどのくらい力がついたかわかります。</p>
      <p>これら3つの機能を使って、楽しく発想力を鍛えましょう!!</p>
      <p>また、大喜利なんて難しい・・・なんて思う方は、</p>
      <p>いろんな方のお題や回答を見ることによって、考え方の視野が広がります！！</p>
      <p>自分なりの使い方で大喜利を楽しんじゃいましょう！！</p>
    </div>
    <h2 class="about_title">使い方</h2>
    <p>まずは、新規登録しましょう。</p>
    <p>新規登録が済むと、お題投稿、お題回答、お題判定機能がお使いいただけます。
    <p>お題の作成は、出題するをクリックいたします。</p>
    <%= image_tag("odai.png", class: :odai) %>
  <div>
</main>
