<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">お題を投稿する</h2>
        <%= render partial: "form", locals: {post:@post} %>
    </div>
  </div>
</div>