// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// likes.scss

.like-link {
  text-decoration: none;
  margin-left: 10px;
}

.like-btn {
  font-size: 20px;
  color:#CCCC00;
}
 
.unlike-btn {
  font-size: 20px;
  color: #CCCC00;
  text-decoration: none;
  margin-left: 5px;
}



.crown{
  color: #CCCC00;
  margin: 0 10px;
}

.light {
  color: #CCCC00;
  margin: 0 10px;
}

.pencil {
  color: #CCCC00;
  font-size: 20px;
}

.camera{
  font-size: 20px;
  color: #CCCC00;
}

.user {
  margin-left: 50px;
  font-size: 100px;
  color: #00FFFF;
}

.star {
  color:#CCCC00;
  margin-right: 10px;
}

.image_star {
  color:#CCCC00;
  margin: auto, 0;
}

.heart {
  color:#CCCC00;
  margin: 0 10px;
}

.alt_user {
  display: inline-block;
  font-size: 60px;
  color: #00FFFF;
  margin: 20px 0 5px 750px;
}

.user_comment {
  display: inline-block;
  font-size: 35px;
  margin: 10px 5px 0 15px;
  color: #00FFFF;
}

.exclamation{
  margin: 0 10px;
  font-size: 20px;
  color: red;
}