/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.inner {
  width: 1024px;
  margin: 0 auto;
}

.inner_login {
  width: 1024px;
  margin: 0 auto;
  padding-top: 180px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  color: #FFFF66;
}
.logo {
  padding-bottom: 10px;
  width: 185px;
  margin-left: 100px;
}

.hello {
  font-weight: bold;
  margin-top: 45px;
  margin-left: 550px;
  color:  #FFFF66;
}
  


.nav__right{
  margin-top: 40px;
  margin-right: 20px;
}

.nav__right_show {
  margin-top: 20px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #FFFF66;
  text-decoration: none;
  user-select: none;
  border: 1px #FFFF66 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #FFFF66 solid;
  background:#770000;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #FFFF66;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}


.head_name{
  margin-left: 695px;
  font-weight: bold;
  color:  #FFFF66;
}

.head_name:hover{
  color: #770000;
}

.head_image{
  margin-top:5px;
  margin-bottom: 5px;
  margin-left: 740px;
  border-radius: 50%;  
  width: 180px;       
  height: 180px;  
  background-position: left top;
  display: inline-block;    
}


.head_alt{
  display: block;
  margin-left: 705px;
  font-weight: bold;
  color:  #FFFF66;
}

.head_alt:hover{
  color: #770000;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.form__text_1 {
  font-weight: bold;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #0000FF;
  border: 1px #0000FF solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.select-box {
  margin-bottom: 10px;
  width: 100px;
  display: block;
}

/* メイン */
.main {
  background-image: url("main.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 130px;
  
}

.main_log {
  background-image: url("main.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.head_inner{
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 95vw;
  height:120px;
  background-color: rgba(25, 76, 51, 0.7);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  border: 1px  rgba(25, 76, 51, 0.5) solid;
  border-radius: 30px;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(25, 76, 51, 0.9);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .9);
  border: 1px rgba(25, 76, 51) solid;
}

.genre {
  font-size: 15px;
  background-color: rgb(88, 8, 9);
  color: #CCCC00;
  text-align: center;
  margin-bottom: 15px;
  padding: 3px;
}

.card__img {
  margin: auto;
  border: 2px  rgba(25, 76, 51, 0.9) solid;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.main_image {
  display: flex;
}

.title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 25px;
  color: #CCCC00;
  display: block;
  text-align: center;
  padding: 0,auto;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .9);
  border: 2px  rgba(25, 76, 51, 0.9) solid;
  border-radius: 10px;
}


.card__user {
  display: block;
  font-size: 12px;
  color: black;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

.answer_title{
  display: block;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
  background-color: #330000;
  color: #CCCC00;
  padding: 3px;
}

.answer_title:hover{
  color: #800000;
}

.sentence {
  font-weight: bold;
  color: #FFFF66;
  padding: 5px;
  text-align: center;
  background-color: rgba(18, 27, 129, 0.5);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  border: 1px  rgba(18, 27, 129, 0.4) solid;
  border-radius: 100px;
}

.question_main {
  margin: 230px auto 0;
  font-size:25px;
  text-align: center;
  color: black;
  background-color:  rgba(127, 40, 41, 0.9);
  border: 1px  rgba(127, 40, 41, 0.9) solid;
  border-radius: 100px;
  width: 400px;
 }

/* 詳細ページ */
.show_main {
  background-image: url("show_main.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom:  30px;
}

.show_inner {
  width: 1024px;
  margin: 0 auto;
  padding-top: 180px;
}

.post__wrapper{
  min-height: calc(100vh - 161px);
}

.title_word {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #CCCC00;
  padding-left:30px;
  padding-right:30px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.post__user{
  display: block;
  font-size: 20px;
  color:black;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.post__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}

.post__sentence{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(25, 76, 51, 0.5);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  color: #CCCC00;
  padding: 10px;
  border: 1px rgba(25, 76, 51, 0.5) solid;
  border-radius: 100px;
  
}

.post__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.post__btn{
  display: block;
  padding: 8px 32px;
  font-size: 15px;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
  background-color: #330000;
}
.post__btn:hover{
  color: #fff;
  background:#770000;
}

.post__comments{
  position: relative;
  bottom: 15px;
  background-color: rgba(25, 76, 51, 0.5);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  padding: 20px;
  margin: 25px 0 30px 0;
  font-weight: bold;
  border: 1px  rgba(25, 76, 51, 0.5) solid;
  border-radius: 100px;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_message {
  display: inline-block;
  margin-top: 5px;
  color: #CCCC00;
  margin-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
  margin-left: 20px; 
  margin-right: 5px;
}

.show__genre {
  font-size: 20px;
  background-color: rgb(88, 8, 9);
  color: #CCCC00;
  text-align: center;
  padding: 10px;
}

.count {
  display: inline-block;
  color: #ffffff;
  margin-left: 5px;
  font-size: 20px;
}

.comment_field {
  width: 500px;
  height: 50px;
  background-color: rgba(25, 76, 51, 0.5);
  font-weight: bold;
  color: #CCCC00;
}

.comment_form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin-top:10px;
  margin-bottom:30px;
}

.comment_word {
  color: white;
  margin-bottom: 10px;
  display: inline-block;
}

.answer_main {
  margin-top: 15px; 
  text-align: center ;
  color: black;
 }


/* コメントランキング表*/
.main_ranking{
  background-color: rgba(18, 27, 129, 0.4);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  border: 1px  rgba(18, 27, 129, 0.4) solid;
  border-radius: 100px;
  padding: 8px;
}

.ranking {
  display: flex;
  margin: 15px 0;
  font-weight: bold;
}

.ranking_number {
  color: white;
  margin-left: 30px;
}

.ranking_message {
  margin-left: 10px;
  color:  #CCCC00;
}

.ranking_user {
  margin-left: 10px;
  color:white;
}

.smile {
  margin-left: 10px;
}

.point_title {
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
  color: black;
}

.ranking_count {
  margin-left: 10px;
  color:white;
}

/* お題ランキング表*/

.index_ranking{
  position: relative;
  top:170px;
  background-color: rgba(18, 27, 129, 0.8);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  padding: 8px;
}

.rank_title {
  position: relative;
  top: 150px;
  margin: auto;
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
  color: black;
  background-color:  rgba(127, 40, 41, 0.9);
  width: 450px;
  border: 1px  rgba(127, 40, 41, 0.9) solid;
  border-radius: 100px;
  font-size: 25px;
}

.rank__img {
  margin-right: 5px;
}

.image_smile{
  margin: auto 5px;
}

.image_ranking_number{
  margin: auto 30px;
  color: white;
}

.image_ranking_count{
  margin: auto 5px;
  color:white;
}

.ranking_sentence {
  margin:auto 0;
  
  color:  #CCCC00;
}

/* ユーザーページ */
.user_show_main {
  background-image: url("show_main.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom:  300px;
}

.user_show_inner {
  width: 1024px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: auto;
}

.name {
  display: flex;
  position: relative;
  top: 160px;
}

.profile{
  
  display: flex;
  position: relative;
  top: 180px;
}

.pro_camera {
  position: relative;
  top: 5px;
}

.pro_image{
  margin-left: 40px;
}
.user_image{
  position: relative;
  top: 150px;;
}

.page-heading_user{
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
}

.name__col1{
  font-weight: bold;
  color: #ffffff;
  margin-left: 10px;
  font-size: 20px;
}

.profile__col2{
  color: #CCCC00;
  margin-left: 15px;
  font-size: 20px;
}
.user__card {
  position: relative;
  top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* お気に入り投稿一覧*/

.like-list{
}

.likes_lists{
  list-style-type: square;
  padding-bottom: 5px;
  background-color: rgba(25, 76, 51, 0.5);
  width: 600px;
  margin-top: 30px;
  margin-right: 100px;
}

.like_title {
  color: #CCCC00;
  margin-right: 5px;
  font-weight: bold;
}

.like__img {
  display: inline-block;
  margin: 10px 5px;
}

.like-heading_user{
  margin-top: 250px;
  text-align: center;
  color: #ffffff;
}

.like_sentence {
  display: inline-block;
  color: #CCCC00;
  margin-right: 5px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* フッター */

.footer {
  position: relative;
  background-color: black;
  padding: 20px 0;
  margin-top:30px;
  width: 100%;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}